<!DOCTYPE html>
<html lang="es" ng-app="MyFirstApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dependency Injection</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-controller="FirstController">
    <h3>Registro de comentarios</h3>
    <p>Usuario <input type="text" ng-model="nuevoComentario.username"></input></p>
    <p>Cometario <input type="text" ng-model="nuevoComentario.comentario"></input></p>
    <button ng-click="agregarComentario()">Agregar el comentario</button>
    <h3>Comentarios</h3>
    <ul>
        <li ng-repeat="comment in comentarios">
            {{comment.comentario}} - <strong>{{comment.username}}</strong>
        </li>
    </ul>
</body>
</html>